<mat-nav-list color="primary">
    <div class="profile-card">
        <div class="header">
            <h2>ADMIN</h2>
        </div>
        <img src="../../../../assets/PngItem_2472306.png" alt="">
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/turnament">Turnament</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/panitia">Panitia</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/peserta">Peserta</a>

    <mat-divider></mat-divider>

</mat-nav-list>
