ul li {
    list-style: none;
  }
mat-toolbar{
  background-color: black;
}
button{
  color:white;
}
span{
  color:white;
}
span{
  color:black;
}
p{
  color:white;
  margin-top: 15px;
}
p{
  font-style: arial;
}