<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput placeholder="First Post" (keyup)="applyFilter($event)">

</mat-form-field>
<div>
<table mat-table [dataSource]="dataSource" matSort>
    <!-- First Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > firstname </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > lastname </th>
      <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>
  
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> username </th>
      <td mat-cell *matCellDef="let row"> {{row.username}} </td>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> password </th>
        <td mat-cell *matCellDef="let row"> {{row.password}} </td>
    </ng-container>
    
    <!-- Role Column -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> role </th>
        <td mat-cell *matCellDef="let row"> {{row.role}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<mat-paginator #paginator [length]="listtable.length" [pageIndex]="1" [pageSize]="1" [pageSizeOptions]="[1, 5, 10, 25, 100]"></mat-paginator>
</div>