<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Waiting List</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Nama</th>
              <th class="text-center">Umur</th>
              <th class="text-center">Game</th>
              <th class="text-center">Jumlah Participant</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                
              <td>
              <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                <button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0">Approve</button>
             </span>
             </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                
                <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                    <button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Approve</button>
                 </span>
                 </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
              
              <td>
              <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                <button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0">Approve</button>
             </span>
            </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr class="hide">
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                <td class="pt-3-half" contenteditable="true"></td>
                
              <td>
              <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                <button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0">Approve</button>
             </span>
             </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->

