.login-page mat-card{
    padding: 0px;
}
.login-form{
    padding: 20px;
}
mat-toolbar{
    background-color: black;
    color: white;
    justify-content: center;
}
button{
    background-color: black;
    color: white;
}