<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">List Panitia</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Tournament Name</th>
              <th class="text-center">Tournament Type</th>
              <th class="text-center">Game</th>
              <th class="text-center">Jumlah Participant</th>
              <th class="text-center">Jumlah Waiting List</th>
              <th class="text-center">Create By</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="pt-3-half" contenteditable="true">Tournamen Basket</td>
                <td class="pt-3-half" contenteditable="true">Single Elimination</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
                <td class="pt-3-half" contenteditable="true">100</td>
                <td class="pt-3-half" contenteditable="true">120</td>
                <td class="pt-3-half" contenteditable="true">Panitia</td>
              <td>
              <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0"routerLinkActive="active" routerLink="/waitinglist">Add To Waiting List </button>
             </span>
             </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true">Tournamen Basket</td>
                <td class="pt-3-half" contenteditable="true">Single Elimination</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
                <td class="pt-3-half" contenteditable="true">100</td>
                <td class="pt-3-half" contenteditable="true">120</td>
                <td class="pt-3-half" contenteditable="true">Panitia</td>
                <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0"routerLinkActive="active" routerLink="/waitinglist">Add To Waiting List </button>
                 </span>
                 </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true">Tournamen Basket</td>
                <td class="pt-3-half" contenteditable="true">Single Elimination</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
                <td class="pt-3-half" contenteditable="true">100</td>
                <td class="pt-3-half" contenteditable="true">120</td>
                <td class="pt-3-half" contenteditable="true">Panitia</td>
              <td>
              <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0"routerLinkActive="active" routerLink="/waitinglist">Add To Waiting List </button>
             </span>
            </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr class="hide">
                <td class="pt-3-half" contenteditable="true">Tournamen Basket</td>
                <td class="pt-3-half" contenteditable="true">Single Elimination</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
                <td class="pt-3-half" contenteditable="true">100</td>
                <td class="pt-3-half" contenteditable="true">120</td>
                <td class="pt-3-half" contenteditable="true">Panitia</td>
              <td>
              <span class="table-remove"><button type="button"
                class="btn btn-danger btn-rounded btn-sm my-0"routerLinkActive="active" routerLink="/waitinglist">Add To Waiting List </button> 
             </span>
             </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->

