<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">List Lurah</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">First Name</th>
              <th class="text-center">Last Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Username</th>
              <th class="text-center">Password</th>
              <th class="text-center">Role</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true">Ilham</td>
              <td class="pt-3-half" contenteditable="true">Husni</td>
              <td class="pt-3-half" contenteditable="true">ilham.husni.tmip09@gmail.com</td>
              <td class="pt-3-half" contenteditable="true">ilot666</td>
              <td class="pt-3-half" contenteditable="true">9090</td>
              <td class="pt-3-half" contenteditable="true">Panitia</td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove </button> 
                 </span> 
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true">Ilham</td>
                <td class="pt-3-half" contenteditable="true">Husni</td>
                <td class="pt-3-half" contenteditable="true">ilham.husni.tmip09@gmail.com</td>
                <td class="pt-3-half" contenteditable="true">ilot666</td>
                <td class="pt-3-half" contenteditable="true">9090</td>
                <td class="pt-3-half" contenteditable="true">Lurah</td>
                <td>
                    <span class="table-remove"><button type="button"
                        class="btn btn-danger btn-rounded btn-sm my-0">Remove </button> 
                     </span> 
                  </td> 
            </tr>
            <!-- This is our clonable table line -->
            <tr>
              <td class="pt-3-half" contenteditable="true">Ilham</td>
              <td class="pt-3-half" contenteditable="true">Husni</td>
              <td class="pt-3-half" contenteditable="true">ilham.husni.tmip09@gmail.com</td>
              <td class="pt-3-half" contenteditable="true">ilot666</td>
              <td class="pt-3-half" contenteditable="true">9090</td>
              <td class="pt-3-half" contenteditable="true">Lurah</td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove </button> 
                 </span> 
              </td>
            </tr>
            <!-- This is our clonable table line -->
            <tr class="hide">
              <td class="pt-3-half" contenteditable="true">Ilham</td>
              <td class="pt-3-half" contenteditable="true">Husni</td>
              <td class="pt-3-half" contenteditable="true">ilham.husni.tmip09@gmail.com</td>
              <td class="pt-3-half" contenteditable="true">ilot666</td>
              <td class="pt-3-half" contenteditable="true">9090</td>
              <td class="pt-3-half" contenteditable="true">Lurah</td>
              <td>
                <span class="table-remove"><button type="button"
                    class="btn btn-danger btn-rounded btn-sm my-0">Remove </button> 
                 </span> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->

