<div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Tipe Turnamen</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option value="" disabled selected>Games</option>
      <option value="1">Basket</option>
      <option value="2">Sepak Bola</option>
      <option value="4">Badminton</option>
      <option value="5">Sepak Takraw</option>
      <option value="6">Balap Kelereng</option>
      <option value="7">Makan Kerupuk</option>
      <option value="8">Panjat Pinang</option>
    </select>
  </div>
  
  <form>
      <input type="text" class="txtTeamAddDelete" placeholder="Enter Team Name">
        <input type="text" class="txtCricketerAddDelete" placeholder="Enter Cricketer Name">
        <input type="text" class="txtScoreAddDelete" placeholder="Enter Score">
        <button type="button" class="btnrowAddDelete">Add New Row</button>
  </form>
  
  <table class="TableAddDelete">
      <thead>
          <tr>                                  
              <th>Team Home</th>
              <th>Cricketer Name</th>
              <th>Score</th> 
              <th>Delete</th>                                                                       
          </tr>                                   
      </thead>    
        <tbody>                                   
      </tbody>
  </table>