<div fxLayoutAlign="center center" fxFlexFill class="login-page">
    <mat-card fxFlex="25">
        <mat-toolbar>Login Panitia</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field>
                <input matInput placeholder="Username" formControlName="email">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>
                <button mat-raised-button type="submit" class="mt-5"  routerLinkActive="active" routerLink="/dashboard">Login</button>
            </form>
    </mat-card>
</div>
