<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ dataUser.fullname }}</h2>
    </div>
    <img src="../../../../assets/PngItem_2472306.png" alt="" />
  </div>
  <mat-divider></mat-divider>
  <div class="side" *ngIf="this.dataUser.role === 'Comitte'">
    <button mat-button [matMenuTriggerFor]="menu1">Panitia Menu</button>
    <mat-menu #menu1="matMenu">
      <button
        mat-menu-item
        routerLinkActive="active"
        routerLink="/listturnamen"
      >
        List Tournament
      </button>
      <button
        mat-menu-item
        routerLinkActive="active"
        routerLink="/addturnament"
      >
        Add Tournament
      </button>
      <button
        mat-menu-item
        routerLinkActive="active"
        routerLink="/editparticipant"
      >
        List Participant
      </button>
      <button mat-menu-item routerLinkActive="active" routerLink="/tablescore">
        Setting Score
      </button>
      <button
        mat-menu-item
        routerLinkActive="active"
        routerLink="/turnament"
      >
        Bagan Turnamen
      </button>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>
  <div class="side" *ngIf="this.dataUser.role === 'Headman'">
    <button mat-button [matMenuTriggerFor]="menu2">Lurah Menu</button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item routerLinkActive="active" routerLink="/listtable">
        List Panitia
      </button>
      <button
        mat-menu-item
        routerLinkActive="active"
        routerLink="/createpanitia"
      >
        Create Panitia
      </button>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>
  <div class="side" *ngIf="this.dataUser.role === 'Admin'">
    <button mat-button [matMenuTriggerFor]="menu3">Admin Menu</button>
    <mat-menu #menu3="matMenu">
      <button mat-menu-item routerLinkActive="active" routerLink="/listlurah">
        List Lurah
      </button>
      <button mat-menu-item routerLinkActive="active" routerLink="/lurah">
        Create Lurah
      </button>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>
</mat-nav-list>
