<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">List Participant</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Umur</th>
              <th class="text-center">Team</th>
              <th class="text-center">Game</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half" contenteditable="true">Ilot</td>
              <td class="pt-3-half" contenteditable="true">25</td>
              <td class="pt-3-half" contenteditable="true">OKC Thunder</td>
              <td class="pt-3-half" contenteditable="true">Basket</td>
              
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true">Ilot</td>
                <td class="pt-3-half" contenteditable="true">25</td>
                <td class="pt-3-half" contenteditable="true">RT10</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
                
              
            </tr>
            <!-- This is our clonable table line -->
            <tr>
                <td class="pt-3-half" contenteditable="true">Ilot</td>
                <td class="pt-3-half" contenteditable="true">25</td>
                <td class="pt-3-half" contenteditable="true">OKC Thunder</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
              
            </tr>
            <!-- This is our clonable table line -->
            <tr class="hide">
                <td class="pt-3-half" contenteditable="true">Ilot</td>
                <td class="pt-3-half" contenteditable="true">25</td>
                <td class="pt-3-half" contenteditable="true">OKC Thunder</td>
                <td class="pt-3-half" contenteditable="true">Basket</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->
  
