<!-- Material form register -->
<div class="card">
  <h1 class="card-header info-color white-text text-center py-4">
    <strong>Sign up</strong>
  </h1>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">
    <!-- Form -->
    <form
      class="text-center"
      style="color: #757575"
      [formGroup]="createPanitiaForm"
      (ngSubmit)="create()"
    >
      <div class="form-row">
        <div class="col">
          <!-- First name -->
          <div class="md-form">
            <input
              type="text"
              id="materialRegisterFormFirstName"
              class="form-control"
              formControlName="firstName"
              placeholder="First Name"
            />
            <!-- <label for="materialRegisterFormFirstName">First name</label> -->
          </div>
        </div>
        <div class="col">
          <!-- Last name -->
          <div class="md-form">
            <input
              type="text"
              id="materialRegisterFormLastName"
              class="form-control"
              formControlName="lastName"
              placeholder="Last Name"
            />
            <!-- <label for="materialRegisterFormLastName">Last name</label> -->
          </div>
        </div>
      </div>

      <!-- E-mail -->
      <div class="md-form mt-0">
        <input
          type="email"
          id="materialRegisterFormEmail"
          class="form-control"
          formControlName="email"
          placeholder="Email"
        />
        
      </div>
      <div class="md-form mt-0">
        <input
          type="text"
          id="materialRegisterFormUsername"
          class="form-control"
          formControlName="username"
          placeholder="Username"
        />
        
      </div>

      <!-- Password -->
      <div class="md-form">
        <input
          type="password"
          formControlName="password"
          id="materialRegisterFormPassword"
          class="form-control"
          aria-describedby="materialRegisterFormPasswordHelpBlock"
          placeholder="Password"
        />
        <small
          id="materialRegisterFormPasswordHelpBlock"
          class="form-text text-muted mb-4"
        >
          At least 8 characters and 1 digit
        </small>
      </div>
      <!-- Role-->
      <div class="md-form">
        <input
          type="text"
          readonly
          id="materialRegisterFormRole"
          class="form-control"
          formControlName="role"
          aria-describedby="materialRegisterFormPhoneHelpBlock"
        />
        <label for="materialRegisterFormRole">Comitte</label>
        <small
          id="materialRegisterFormPhoneHelpBlock"
          class="form-text text-muted mb-4"
        >
        </small>
      </div>
      <!-- Sign up button -->
      <button
        class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
        type="submit"
      >
        Create
      </button>
    </form>
    <!-- Form -->
  </div>
</div>
<!-- Material form register -->

