<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    List Panitia
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <thead>
          <tr>
            <th class="text-center">Tournament Name</th>
            <th class="text-center">Tournament Type</th>
            <th class="text-center">Game</th>
            <th class="text-center">Jumlah Participant</th>
            <th class="text-center">Jumlah Waiting List</th>
            <th class="text-center">Create By</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournaments of tournamentData">
            <td class="pt-3-half" contenteditable="true">
              {{ tournaments.name }}
            </td>
            <td class="pt-3-half" contenteditable="true">
              {{ tournaments.tournamentType }}
            </td>
            <td class="pt-3-half" contenteditable="true">
              {{ tournaments.category.categoryName }}
            </td>
            <td class="pt-3-half" contenteditable="true">
              {{ tournaments.participants.length }}
            </td>
            <td class="pt-3-half" contenteditable="true">
              {{ tournaments.waitingList.length }}
            </td>
            <td class="pt-3-half" contenteditable="true">
              {{ tournaments.createdBy.username }}
            </td>
            <td>
              <span class="table-remove"
                ><button
                  type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0"
                  routerLinkActive="active"
                  routerLink="/waitinglist/{{ tournaments._id }}"
                >
                  Waiting List
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
